################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio specific files, ignore
/.vs/*
*.suo
*.user

# These binaries are downloaded automatically when c# clinet is built
/clients/v1/csharp/client/nuget.exe
/clients/v1/csharp/client/zip.exe

# We do not need 'bin' folder for the samples but we need for the csharp client
/**/samples/**/bin/*

# We do not need any of the 'obj' folders
/**/obj/*

# We do not need compiled java code, we have the client jar
*.class

# These can be downloaded from other soures
/clients/v1/java/client/lib/swagger-annotations-1.5.12.jar
/clients/v1/java/client/lib/logging-interceptor-2.7.5.jar
/clients/v1/java/client/lib/junit-4.12.jar
/clients/v1/java/client/lib/hamcrest-core-1.3.jar
