################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
*.suo
/clients/v1/csharp/client/nuget.exe
/clients/v1/csharp/client/zip.exe
/clients/v1/csharp/client/src/Muhimbi.PDF.Online.Client/obj
/clients/v1/csharp/client/src/Muhimbi.PDF.Online.Client/obj/Release/CoreCompileInputs.cache
/clients/v1/csharp/client/src/Muhimbi.PDF.Online.Client/obj/Debug/CoreCompileInputs.cache
/clients/v1/csharp/client/src/Muhimbi.PDF.Online.Client/Muhimbi.PDF.Online.Client.nuspec
*/bin/*
*/obj/*
*.user
/clients/v1/csharp/samples/convert/bin/Debug
/clients/v1/csharp/samples/convert/obj
/clients/v1/csharp/samples/convert/obj/Release
/clients/v1/csharp/samples/convert_html/obj
/clients/v1/csharp/samples/convert_html/bin/Debug
/clients/v1/csharp/samples/merge_to_pdf/obj
/clients/v1/csharp/samples/merge_to_pdf/bin/Debug
/clients/v1/csharp/samples/ocr_pdf/bin/Debug
/clients/v1/csharp/samples/ocr_pdf/obj/Debug
/clients/v1/csharp/samples/ocr_text/obj
/clients/v1/csharp/samples/ocr_text/bin/Debug
